<div class = "d-flex align-items-center justify-content-center">
<h1>Welcome to the gram</h1>
</div>

<div class = "d-flex align-items-center justify-content-center">
<p>Please sign up or log in to continue</p>
</div>

<div class = "d-flex align-items-center justify-content-center">
<button><%= link_to "Sign Up", new_account_registration_path %></button>
<button><%= link_to "Log In", new_account_session_path %></button>
</div>